<div class="homeSection">
  <div class="homeContainer">
  <h2>Latest Videos
    <span>
      <a class="button" href="videos.html">View All Videos
      </a>
    </span>
  </h2>
  <div class="previewDisplay">
  <table>
  <tr>
    <td>
      <div class="imgContainer">
        <img class="image" src="https://img.youtube.com/vi/ledCiCGrFgM/mqdefault.jpg">
          <div class="middle">
            <div class="text">
              <a href="videos_house_party.html" target="_blank" class="fas fa-play">
              </a>
            </div>
          </div>
      </div>
  </td>
    <td>
      <div class="imgContainer">
        <img class="image" src="https://img.youtube.com/vi/gLw2P4X1-ZQ/mqdefault.jpg">
          <div class="middle">
            <div class="text">
              <a href="videos_house_party.html" target="_blank" class="fas fa-play">
              </a>
            </div>
          </div>
        </div>
    </td>
    <td>
      <div class="imgContainer">
        <img class="image" src="https://img.youtube.com/vi/RnRh3AFHLdw/mqdefault.jpg">
          <div class="middle">
            <div class="text">
              <a href="videohere.html" target="_blank" class="fas fa-play">
              </a>
            </div>
          </div>
      </div>
    </td>
  </tr>
    <tr>
      <td>hehehe
      </td>
      <td>house party
      </td>
      <td>again
      </td>
  </tr>
  <tr>
    <td><h5>December 18th 2019</h5>
    </td>
    <td><h5>December 17th 2019</h5>
    </td>
    <td><h5>June 28th 2019</h5>
    </td>
</tr>

</table>
</div>
</div>
</div>
